<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Второе тестовое задание</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12"><a class="btn btn-default" href="/">К списку пар</a></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
</div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    window.onload = function () {

        var options = {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "График цены на биржах для пары {{.Pair}}"
            },
            axisX: {
                valueFormatString: "hh:mm"
            },
            axisY: {
                title: "Price",
                suffix: "",
                minimum: {{.Min}}
            },
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                itemclick: toogleDataSeries
            },
            data: [{
                type: "line",
                showInLegend: true,
                name: "Exmo exchange",
                markerType: "square",
                xValueFormatString: "DD MMM, YYYY(hh:mm)",
                color: "#F08080",
                yValueFormatString: "#,##0K",
                dataPoints: [
                    {{range .ExmoTickers}}
                    {x: {{.T}}, y: {{.V}}},
                    {{end}}
                ]
            },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Bitlish exchange",
                    lineDashType: "dash",
                    yValueFormatString: "#,##0K",
                    dataPoints: [
                        {{range .BitlishTickers}}
                            {x: {{.T}}, y: {{.V}}},
                        {{end}}
                    ]
                }]
        };
        $("#chartContainer").CanvasJSChart(options);

        function toogleDataSeries(e) {
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

    }
</script>
</body>
</html>

