<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Второе тестовое задание</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>Арбитраж</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td>Пара</td>
                    <td>Разница</td>
                    <td>Exmo/Bitlish</td>
                    <td>График</td>
                </tr>
                {{range .}}
                    <tr>
                        <td>{{.Pair}}</td>
                        <td>{{.Perc}}%</td>
                        <td><span class="label label-default">{{.ExmoPrice}}</span>/<span class="label label-default">{{.BitlishPrice}}</span></td>
                        <td><a class="btn btn-default" href="/chart/{{.Pair}}">Смотреть</a></td>
                    </tr>
                {{end}}
            </table>
        </div>
    </div>
</div>
</body>
</html>